<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlion.life.base.dao.SysRecommendBgImgMapper" >
  <resultMap id="BaseResultMap" type="com.dlion.life.base.entity.SysRecommendBgImg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bg_img_url" property="bgImgUrl" jdbcType="VARCHAR" />
    <result column="is_recommend" property="isRecommend" jdbcType="TINYINT" />
    <result column="use_num" property="useNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bg_img_url, is_recommend, use_num, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_recommend_bg_img
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_recommend_bg_img
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dlion.life.base.entity.SysRecommendBgImg" >
    insert into sys_recommend_bg_img (id, bg_img_url, is_recommend, 
      use_num, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{bgImgUrl,jdbcType=VARCHAR}, #{isRecommend,jdbcType=TINYINT}, 
      #{useNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dlion.life.base.entity.SysRecommendBgImg" >
    insert into sys_recommend_bg_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bgImgUrl != null" >
        bg_img_url,
      </if>
      <if test="isRecommend != null" >
        is_recommend,
      </if>
      <if test="useNum != null" >
        use_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bgImgUrl != null" >
        #{bgImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=TINYINT},
      </if>
      <if test="useNum != null" >
        #{useNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlion.life.base.entity.SysRecommendBgImg" >
    update sys_recommend_bg_img
    <set >
      <if test="bgImgUrl != null" >
        bg_img_url = #{bgImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=TINYINT},
      </if>
      <if test="useNum != null" >
        use_num = #{useNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlion.life.base.entity.SysRecommendBgImg" >
    update sys_recommend_bg_img
    set bg_img_url = #{bgImgUrl,jdbcType=VARCHAR},
      is_recommend = #{isRecommend,jdbcType=TINYINT},
      use_num = #{useNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>